extend ./layout/common.pug
block content
        h1
            span.mr-3 User
            a.btn.btn-primary(href="/users/create") Create

        .d-flex.align-items-center
            form.ml-auto(action="/users/search", method="GET", class="d-flex")
                input(type="text", name = "q", class="form-control")
                button(class="btn btn-primary ml-2") search
        
        table.table
            tr
                th Name
                th Phone
                th Action
            each user in users
                tr
                    td=user.name
                    td=user.phone
                    td
                        a.btn.btn-light(href="/users/" + user.id) View
            