extend ../layout/common.pug
block content
    h1 Create user

    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/users/create", method="POST")
        .form-group
            label(for="name") Name
            input#name.form-control(name="name" type="text", value = value ? value.name : '')
        .form-group
            label(for="phone") Phone
            input#phone.form-control(name="phone" type="text", value = value ? value.phone : '')

        button.btn.btn-primary Create