extend ../layout/common.pug
block content
    h1 user
    a(href="/users/create") Create

    form(action="/users/search", method="GET")
        input(type="text", name = "q")
        button search
    ul 
        each user in users
            li= user.name